In [1]:
%load_ext autoreload
%autoreload 2

import torch
import math
import tqdm
import time
import pandas as pd
import numpy as np
from torchsummary import summary
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader, random_split


from main import train, TPALSTM

## Load Data in Pytorch DataLoaders

In [2]:
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
device

device(type='cuda', index=0)

In [3]:
torch.cuda.get_device_name(0), torch.cuda.get_device_name(1)

('NVIDIA GeForce RTX 2080 Ti', 'NVIDIA GeForce RTX 2070')

In [4]:
# TODO Rethink how this dataset works
class ElectricityDataset(Dataset):
    def __init__(self, df, window_size):
        self.df = df
        self.w_size = window_size
        self.label_col_name = "price actual"

        self.X = torch.tensor(self.df.values, dtype=torch.float32).to(device)
        self.y = torch.tensor(self.df.loc[:, self.label_col_name].values, dtype=torch.float32).unsqueeze(1).to(device)
    
    def __getitem__(self, idx):
        idcs = range(idx, idx + self.w_size)
        return self.X[idx:idx + self.w_size, :], self.y[idx + self.w_size]

    def __len__(self):
        return len(self.df) - self.w_size

In [5]:
data_df = pd.read_csv('data/clean_and_merge_data.csv', index_col=0)
print(data_df.shape)
data_df.head()

(35064, 76)

,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,generation other,...,weekday,month,business hour,temp_range_Barcelona,temp_range_Bilbao,temp_range_Madrid,temp_range_Seville,temp_range_Valencia,temp_weighted,generation coal all
time,,,,,,,,,,,,,,,,,,,,,
2014-12-31 23:00:00+00:00,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,43.0,...,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,273.181801,5150.0
2015-01-01 00:00:00+00:00,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,43.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,273.188663,5083.0
2015-01-01 01:00:00+00:00,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,1371.0,7099.0,43.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,272.557335,4904.0
2015-01-01 02:00:00+00:00,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,779.0,7098.0,43.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,272.554211,4385.0
2015-01-01 03:00:00+00:00,428.0,187.0,4130.0,3840.0,156.0,1826.0,953.0,720.0,7097.0,43.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,272.572446,4027.0

In [6]:
train_frac = 0.7
val_frac = 0.1
test_frac = 0.2

train_lim = math.floor(train_frac * data_df.shape[0])
val_lim = math.floor(val_frac * data_df.shape[0]) + train_lim

window_size = 24

train_dataset = ElectricityDataset(data_df.iloc[:train_lim], window_size=window_size)
val_dataset = ElectricityDataset(data_df.iloc[train_lim:val_lim], window_size=window_size)
test_dataset = ElectricityDataset(data_df.iloc[val_lim:], window_size=window_size)

batch_size = 128
train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=False)
val_loader = DataLoader(val_dataset, batch_size=batch_size, shuffle=False)
test_loader = DataLoader(test_dataset, batch_size=batch_size, shuffle=False)

print(f"Dataset size - Train: {len(train_loader)}, Validation: {len(val_loader)}, Test: {len(test_loader)}")

Dataset size - Train: 192, Validation: 28, Test: 55

## Train the model

In [7]:
model = TPALSTM(
    input_size=data_df.shape[1],
    output_horizon=1,
    hidden_size=25,
    obs_len=24,
    n_layers=5
)
model.to(device)
summary(model)

criterion = nn.MSELoss()
optimiser = torch.optim.Adam(model.parameters(), lr=0.005)

=================================================================
Layer (type:depth-idx)                   Param #
=================================================================
├─Linear: 1-1                            1,925
├─ReLU: 1-2                              --
├─LSTM: 1-3                              26,000
├─TemporalPatternAttention: 1-4          --
|    └─Conv2d: 2-1                       768
|    └─Linear: 2-2                       832
|    └─Linear: 2-3                       1,450
|    └─ReLU: 2-4                         --
├─Linear: 1-5                            26
=================================================================
Total params: 31,001
Trainable params: 31,001
Non-trainable params: 0
=================================================================

In [8]:
def train_one_epoch(train_loader):
    running_loss = 0.
    last_loss = 0.0

    for i, data in enumerate(train_loader):
        inputs, label = data 
        # print(inputs.shape, label.shape)

        optimiser.zero_grad()

        outputs = model(inputs)

        loss = criterion(outputs, label)
        loss.backward()

        optimiser.step()

        running_loss += loss.item()
        if i % batch_size == 0:
            last_loss = running_loss / batch_size # loss per batch
            # print('  batch {} loss: {}'.format(i // batch_size, last_loss))
            running_loss = 0.

    return last_loss

In [ ]:
EPOCHS = 100
epoch_nb = 0

best_vloss = 1_000_000
log_freq = 5
running_time = 0

for epoch in range(EPOCHS):
    start = time.time()
    model.train(True)
    avg_loss = train_one_epoch(train_loader)
    end = time.time()
    running_time += (end - start)


    if epoch % log_freq == 0:
        with torch.no_grad():
            avg_time = (running_time / log_freq) if epoch != 0 else running_time
            running_vloss = 0.0
            for i, vdata in enumerate(val_loader):
                vinputs, vlabels = vdata
                voutputs = model(vinputs)
                vloss = criterion(voutputs, vlabels)
                running_vloss += vloss

            avg_vloss = running_vloss / len(val_loader)
            print(f'Epoch {epoch}, LOSS train {avg_loss:.3f} valid {avg_vloss:.3f}   ({avg_time:.1f} sec/epoch)')
            running_time = 0.

    epoch_nb += 1

Epoch 0, LOSS train 404.698 valid 200.156   (11.6 sec/epoch)
Epoch 5, LOSS train 153.315 valid 187.015   (10.9 sec/epoch)
Epoch 10, LOSS train 169.795 valid 208.875   (10.9 sec/epoch)
Epoch 15, LOSS train 222.042 valid 195.937   (11.2 sec/epoch)
Epoch 20, LOSS train 203.828 valid 228.925   (11.1 sec/epoch)
Epoch 25, LOSS train 209.927 valid 226.111   (10.8 sec/epoch)
Epoch 30, LOSS train 214.532 valid 223.535   (10.8 sec/epoch)
Epoch 35, LOSS train 217.711 valid 218.602   (10.9 sec/epoch)
Epoch 40, LOSS train 219.360 valid 212.928   (10.9 sec/epoch)